// variables------------------
$CALENDAR_BORDER_COLOR: #D9D9D9;
$CALENDAR_MONTH_HEADER_COLOR: #777777;
$TODAY_BG_COLOR: #fcfefe;
$OFF_RANGE_BG_COLOR: #F6F5F5;
$TIME_GUTTER_FONT_COLOR: #777777;
// ---------------------------


// calendar event-------------
.rbc-event-content {
    
}

// ---------------------------