// variables------------------
$FILLED_INPUT_BG_COLOR: #F6F5F5;
$FILLED_INPUT_LABEL_COLOR: #B4B3B3;
$FILLED_INPUT_LABEL_SHRINK_COLOR: #B4B3B3;
$FILLED_INPUT_FONT_COLOR: #676565;
// ---------------------------


// mui filled input customize--
.mui-customize {
    .MuiSelect-select {
        font-size: 14px;
        font-weight: 600;
        color: $FILLED_INPUT_FONT_COLOR;
    }
    fieldset.MuiOutlinedInput-notchedOutline {
        border: 0;
    }

    .MuiInputBase-input {
        background-color: $FILLED_INPUT_BG_COLOR;
        border-radius: 16px;
    }

    .MuiInputBase-input[aria-expanded="true"] {
        +svg.icon-chevron-down {
            transform: rotate(180deg);
        }
    }

    label.MuiFormLabel-root {
        color: $FILLED_INPUT_LABEL_COLOR;
        font-size: 0.9rem;
    }

    label.MuiFormLabel-root.Mui-focused,
    label.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
        color: $FILLED_INPUT_LABEL_SHRINK_COLOR;
    }

    .icon-chevron-down {
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 12px;
        position: absolute;
        right: 7px;
        top: calc(50% - 0.5em);
        pointer-events: none;
    }
    &.select-box .svg-inline--fa {
        height: 0.8em;
    }
}

.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
    border-radius: 12px;
}

.search-input {
    .icon-magnifying-glass {
        position: relative;
        z-index: 2;
    }
    .mui-customize .MuiInputBase-input {
        padding-left: 40px;
    }
}


input.input.mui-customize {
    background: $FILLED_INPUT_BG_COLOR;
    border: 0;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 14px;
    color: $FILLED_INPUT_FONT_COLOR;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
}


// ---------------------------