// variables------------------
$CALENDAR_MONTH_EVENT_BG_COLOR: #E9F5F5;
// ---------------------------
button.calendar-event-btn {
    width: 100%;
    padding: 2px 3px;
    border-radius: 6px;
}

.calendar-event-popover {
    .MuiPopover-paper {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
    }
}
// PC-------------------------
// ---------------------------

// Smart Phone----------------
// ---------------------------