// variables------------------
$CALENDAR_EVENT_BG_COLOR: #E9F5F5;
$CALENDAR_EVENT_FONT_COLOR: #39635E;
$CALENDAR_EVENT_HOVER_BG_COLOR: #d4f0f0;
$CALENDAR_EVENT_ICON_WRAPPER_COLOR: #FFFFFF;
$CALENDAR_EVENT_ICON_LOCATION_PIN_COLOR: #D84949;
$CALENDAR_EVENT_ICON_LOCATION_PIN_FONT_COLOR: #FFFFFF;
// ---------------------------

.rbc-event, .rbc-day-slot .rbc-background-event {
    background-color: $CALENDAR_EVENT_BG_COLOR;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
    padding: 0;
    border-radius: 10px;
    &:hover {
        background-color: $CALENDAR_EVENT_HOVER_BG_COLOR;
        cursor: pointer;
    }
}

.calendar-event {
    & .content {
        color: $CALENDAR_EVENT_FONT_COLOR;
    }
    & .icon-wrapper {
        background: $CALENDAR_EVENT_ICON_WRAPPER_COLOR;
    }
    & .icon-location-pin {
        color: $CALENDAR_EVENT_ICON_LOCATION_PIN_COLOR;
    }
    & .event-number {
        color: $CALENDAR_EVENT_ICON_LOCATION_PIN_FONT_COLOR;
    }
}

.rbc-day-slot .rbc-event-label {
    color: $CALENDAR_EVENT_FONT_COLOR;
    font-weight: 500;
    display: none;
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: $CALENDAR_EVENT_FONT_COLOR;
}

button.calendar-event-btn {
    width: 100%;
    padding: 2px 3px;
    border-radius: 6px;
}

.calendar-event-popover {
    .MuiPopover-paper {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
    }
}
// PC-------------------------
// ---------------------------

// Smart Phone----------------
// ---------------------------