// variables------------------
$GLOBAL_TOOLBAR_SHARE_ICON_COLOR: #8B8989;
$GLOBAL_TOOLBAR_POPOVER_ITEM_BG_HOVER_COLOR: #e4e4e4;

// ---------------------------
.global-tool-bar {
    & .icon-share.svg-inline--fa {
        height: 1.45em;
        color: $GLOBAL_TOOLBAR_SHARE_ICON_COLOR;
    }
    & .icon-box {
        column-gap: 5px;
    }
    & .icon-btn {
        width: 30px;
        height: 30px;
    }
}

.event-menu-popover {
    .MuiPaper-root.MuiPopover-paper {
        box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
        border-radius: 10px;
        padding: 10px 0;
    }

    .event-menu-popover-item {
        padding: 10px 18px;
        &:hover {
            cursor: pointer;
            background-color: $GLOBAL_TOOLBAR_POPOVER_ITEM_BG_HOVER_COLOR;
        }
    }
}

// PC-------------------------
// ---------------------------

// Smart Phone----------------
// ---------------------------