// variables------------------
$GLOBAL_TOOLBAR_SHARE_ICON_COLOR: #8B8989;
$GLOBAL_TOOLBAR_POPOVER_ITEM_BG_HOVER_COLOR: #e4e4e4;
$GLOBAL_TOOLBAR_POPOVER_FONT_COLOR: #3a3a3a;

// ---------------------------
.global-tool-bar {
    & .icon-share.svg-inline--fa {
        height: 1.45em;
        color: $GLOBAL_TOOLBAR_SHARE_ICON_COLOR;
    }
    & .icon-box {
        column-gap: 5px;
    }
    & .icon-btn {
        width: 30px;
        height: 30px;
    }
}

.event-menu-popover {
    .MuiPaper-root.MuiPopover-paper {
        box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
        border-radius: 10px;
        padding: 10px 0;
        color: $GLOBAL_TOOLBAR_POPOVER_FONT_COLOR;
    }
    .MuiButtonBase-root.MuiButton-root {
        padding: 10px 25px;
        color: $GLOBAL_TOOLBAR_POPOVER_FONT_COLOR;
        text-transform: none;
    }
}

// PC-------------------------
// ---------------------------

// Smart Phone----------------
// ---------------------------