// variables------------------
// screen size
$SIZE_PC_BIG: 1480px;
$SIZE_PC_SMALL: 960px;
$SIZE_PC_SMALL_CALENDAR: 800px;
$SIZE_SP_HORIZONTAL: 600px;
$SIZE_SP_VERTICAL: 480px;
// ---------------------------