.splitter {
  align-items: center;
  display: flex;

  height: 100vh;
  width: 100%;
}
.splitter__first {
  width: 60%;
  height: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
}
.splitter__resizer {
  background: #aeaeae;
  height: 100%;
  width: 2px;

  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}
.splitter__second {
  flex: 1;

  align-items: center;
  display: flex;
  justify-content: center;
}