$AUTO_COMPLETE_BG_COLOR: #ffffff;
$FILLED_INPUT_BG_COLOR: #F6F5F5;
$FILLED_INPUT_FONT_COLOR: #676565;

.google-map-area {
    width: 100%;
    height: 100vh;
    // & > div > div {
    //     border-radius: 20px;
    // }
    .google-map-pin-icon {
        width: 2.2rem;
        height: 2.2rem;
    }

    .google-map-pin-num {
        position: relative;
        color: white;
        left: 0.82rem;
        bottom: 1.8rem;
        font-size: 1rem;
    }
}

.splitter__second {
    & > div {
        width: 100%;
        height: 100vh;
        padding-left: 10px;
    }
}

.autocomplete-control {
    width: 35%;
    height: 80vh;
    padding: 20px;
    position: fixed;
    left: 35px;
    input.map-autocomplete-input {
        background: $FILLED_INPUT_BG_COLOR;
        border: 0;
        border-radius: 16px;
        box-sizing: border-box;
        padding: 14px;
        color: $FILLED_INPUT_FONT_COLOR;
        font-weight: bold;
        width: 100%;
        font-size: 14px;
    }
}