// variables------------------
$CALENDAR_TOOLBAR_LABEL_FONT_COLOR: #000000;
$CALENDAR_TOOLBAR_LABEL_WEEK_FONT_COLOR: #868686;
// ---------------------------
.calendar-tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 20px;
    & .label {
        font-weight: 600;
        font-size: 16px;
    }
    & .label-day {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    & .label-week {
        color: $CALENDAR_TOOLBAR_LABEL_WEEK_FONT_COLOR;
        font-size: 12px;
    }
    & .icon-btn {
        width: 30px;
        height: 30px;
    }
    & .icon {
        width: 12px;
        height: 12px;
    }
}

// PC-------------------------
// ---------------------------

// Smart Phone----------------
// ---------------------------