@use '../globals.scss';

// variables------------------
// ---------------------------
.calendar-day-event-wrapper {
    width: 100%;
    & .calendar-event .time-label {
        padding-left: 0px;
        margin-top: -4px;
    }
}
.calendar-day-event {
    display: flex;
    align-items: flex-start;
    width: 100%;
    & .content {
        display: flex;
        border-radius: 6px;
        padding: 1px;
        width: 100%;
    }
    & .icon-wrapper {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin: 10px 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 40px;
        min-width: 40px;
    }
    & .icon {
        font-size: 18px;
    }
    & .title {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0 0 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex-basis: calc(100% - 50px);
        text-align: left;
    }
    & .icon-wrapper-location-pin {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 15px;
    }

    & .icon-location-pin {
        width: 30px;
        height: 30px;
        position: relative;
        &.none {
            color: transparent;
            left: 24px;
        }
        &.digit1 {
            left: 24px;
        }
        &.digit2 {
            left: 32px;
        }
        &.digit3 {
            left: 33px;
        } 
    }

    & .event-number {
        font-size: 12px;
        font-weight: 500;
        position: relative;
        bottom: 1px;
        &.none {
            left: 6px;
            visibility: hidden;
        }
        &.digit1 {
            left: 6px;
        }
        &.digit2 {
            left: 9.5px;
        }
        &.digit3 {
            left: 10px;
            font-size: 9px;
        } 
    }
}

.rbc-day-slot .rbc-event-label {
    font-weight: 500;
    display: none;
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
    border: 0;
}

.rbc-day-slot .rbc-event-content {
    padding: 2px 3px;
}


// responsive design
// PC_BIG---------------------
@media screen and (max-width: globals.$SIZE_PC_BIG) {
    .calendar-day-event {
        // & .icon-wrapper {
        //     display: none;
        // }
        // & .title {
        //     flex-basis: 100%;
        //     font-size: 10px;
        // }
        // & .icon-wrapper-location-pin {
        //     width: 18px;
        //     height: 18px;
        // }
        // & .icon-location-pin {
        //     width: 18px;
        //     height: 18px;
        //     position: relative;
        //     &.none {
        //         color: transparent;
        //         left: 22px;
        //     }
        //     &.digit1 {
        //         left: 22px;
        //     }
        //     &.digit2 {
        //         left: 25px;
        //     }
        //     &.digit3 {
        //         left: 25px;
        //     } 
        // }
    
        // & .event-number {
        //     font-size: 10px;
        //     z-index: 200;
        //     font-weight: 500;
        //     position: relative;
        //     bottom: 1px;
        //     &.none {
        //         left: 12px;
        //         visibility: hidden;
        //     }
        //     &.digit1 {
        //         left: 12px;
        //     }
        //     &.digit2 {
        //         left: 12px;
        //     }
        //     &.digit3 {
        //         left: 14px;
        //         font-size: 7px;
        //     } 
        // }
    }
 }

// ---------------------------

// PC_SMALL-------------------
@media screen and (max-width: globals.$SIZE_PC_SMALL) {
    .calendar-day-event {
        // & .icon-wrapper {
        //     display: none;
        // }
        // & .title {
        //     flex-basis: 100%;
        //     font-size: 10px;
        // }
        // & .icon-wrapper-location-pin {
        //     width: 18px;
        //     height: 18px;
        // }
        // & .icon-location-pin {
        //     width: 18px;
        //     height: 18px;
        //     position: relative;
        //     &.none {
        //         color: transparent;
        //         left: 16px;
        //     }
        //     &.digit1 {
        //         left: 16px;
        //     }
        //     &.digit2 {
        //         left: 18px;
        //     }
        //     &.digit3 {
        //         left: 19px;
        //     } 
        // }
    
        // & .event-number {
        //     font-size: 10px;
        //     z-index: 200;
        //     font-weight: 500;
        //     position: relative;
        //     bottom: 1px;
        //     &.none {
        //         left: 6px;
        //         visibility: hidden;
        //     }
        //     &.digit1 {
        //         left: 6px;
        //     }
        //     &.digit2 {
        //         left: 5.5px;
        //     }
        //     &.digit3 {
        //         left: 5px;
        //         font-size: 7px;
        //     } 
        // }
    }
 }
 
// ---------------------------

// PC_SMALL_CALENDAR----------
@media screen and (max-width: globals.$SIZE_PC_SMALL_CALENDAR) {
    .calendar-day-event {
        // & .icon-wrapper {
        //     display: none;
        // }
        // & .title {
        //     flex-basis: 100%;
        //     font-size: 10px;
        // }
        // & .icon-wrapper-location-pin {
        //     display: none;
        // }
    }
 }
// ---------------------------

// SP_HORIZONTAL--------------
@media screen and (max-width: globals.$SIZE_SP_HORIZONTAL) {
    .calendar-day-event {
        // & .icon-wrapper {
        //     display: none;
        // }
        // & .title {
        //     flex-basis: 100%;
        //     font-size: 10px;
        // }
        // & .icon-wrapper-location-pin {
        //     display: none;
        // }
    }
 }
// ---------------------------

// SP_VERTICAL----------------

// ---------------------------