// variables------------------
$CALENDAR_EVENT_TYPE_MENU_BG_COLOR: #ffffff;
$CALENDAR_EVENT_TYPE_MENU_MAIN_FONT_COLOR: #2D2D2D;
$CALENDAR_EVENT_TYPE_MENU_ITEM_HOVER_BG_COLOR: #ECECEC;
$CALENDAR_EVENT_TYPE_MENU_TITLE_FONT_COLOR: #717171;
// ---------------------------

.calendar-event-type-main-menu {
    border-radius: 20px;
    background-color: $CALENDAR_EVENT_TYPE_MENU_BG_COLOR;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
    position: absolute;
    z-index: 300;
    left: 180px;
    top: 50px;
    width: 250px;
    padding: 10px 0;

    .calendar-event-type-main-menu-item {
        border-radius: 5px;
        padding: 15px 15px 15px 30px;
        width: 100%;
        justify-content: flex-start;

        &:hover {
            background-color: $CALENDAR_EVENT_TYPE_MENU_ITEM_HOVER_BG_COLOR;
        }

        .icon {
            margin-right: 20px;
            font-size: 16px;
            padding-top: 4px;
        }

        span {
            text-transform: none;
            font-size: 16px;
        }
    }


    .calendar-event-type-main-menu-title {
        color: $CALENDAR_EVENT_TYPE_MENU_TITLE_FONT_COLOR;
        font-size: 14px;
        padding: 20px 20px 5px;
    }
}


.calendar-event-type-child-menu {
    border-radius: 10px;
    background-color: $CALENDAR_EVENT_TYPE_MENU_BG_COLOR;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 2.4px 6.5px;
    position: absolute;
    z-index: 300;
    left: 240px;
    top: 50px;
    width: 30vw;
    max-width: 300px;
    padding: 10px 0;
    max-height: 70vh;
    overflow-y: auto;

    .icon {
        font-size: 16px;
    }

    .title-icon-wrapper {
        margin-right: 20px;
        width: 32px;
        height: 32px;
        flex-basis: 32px;
        min-width: 32px;
    }

    .calendar-event-type-child-menu-item {
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
        justify-content: flex-start;
        padding: 10px 20px;

        &:hover {
            background-color: $CALENDAR_EVENT_TYPE_MENU_ITEM_HOVER_BG_COLOR;
        }

        span {
            text-transform: none;
            margin-top: 5px;
        }
    }
}